<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>杀手2</string>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple6/v4/37/9d/c3/379dc387-60c5-b527-b68b-c257fccb5ae6/source/60x60bb.jpg</string>
		<key>download</key>
		<string>1951万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>植物大战僵尸</string>
		<key>icon</key>
		<string>http://a5.mzstatic.com/us/r30/Purple/v4/5f/b6/53/5fb6537f-d3ca-6391-7f84-745caee14beb/icon175x175.png</string>
		<key>download</key>
		<string>10311万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捕鱼达人2</string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/60x60icon_01.png</string>
		<key>download</key>
		<string>9982万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保卫萝卜</string>
		<key>icon</key>
		<string>http://p17.qhimg.com/dr/48_48_/t012d281e8ec8e27c06.png</string>
		<key>download</key>
		<string>8582万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>找你妹</string>
		<key>icon</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple6/v4/62/a5/3c/62a53c28-3691-36fc-461f-514a2693d2e8/source/60x60bb.jpg</string>
		<key>download</key>
		<string>5910万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果忍者</string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/60x60icon_03.png</string>
		<key>download</key>
		<string>5082万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鳄鱼小顽皮</string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/60x60icon_04.png</string>
		<key>download</key>
		<string>3918万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神偷奶爸</string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/60x60icon_06.png</string>
		<key>download</key>
		<string>3681万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时空猎人</string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/60x60icon_07.png</string>
		<key>download</key>
		<string>3645万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愤怒的小鸟</string>
		<key>icon</key>
		<string>http://is3.mzstatic.com/image/thumb/Purple3/v4/d1/64/28/d1642872-0bbb-0342-9306-2f496c2021f2/source/60x60bb.jpg</string>
		<key>download</key>
		<string>3552万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑雪大冒险</string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/60x60icon_09.png</string>
		<key>download</key>
		<string>3487万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爸爸去哪儿</string>
		<key>icon</key>
		<string>http://is1.mzstatic.com/image/thumb/Purple69/v4/4d/da/aa/4ddaaa2e-9182-a050-58c0-7f35ca2c8a1f/source/60x60bb.jpg</string>
		<key>download</key>
		<string>3117万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我叫MT </string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/60x60icon_11.png</string>
		<key>download</key>
		<string>2386万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3D终极狂飙</string>
		<key>icon</key>
		<string>http://7xkzjg.com1.z0.glb.clouddn.com/QQ.png</string>
		<key>download</key>
		<string>2166万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>俄罗斯方块</string>
		<key>icon</key>
		<string>http://a2.mzstatic.com/us/r30/Purple/v4/ff/72/23/ff7223bb-9e76-bb0d-67f7-e220821efaf5/icon175x175.jpeg</string>
		<key>download</key>
		<string>1290万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刀塔传奇</string>
		<key>icon</key>
		<string>http://a3.mzstatic.com/us/r30/Purple1/v4/6d/1d/e9/6d1de94f-173e-36cd-4e60-43ece0761b47/icon175x175.png</string>
		<key>download</key>
		<string>1249万</string>
	</dict>
</array>
</plist>
